* { 
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0.4px 0.4px 3px black;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: lightblue;
}

/* header */
.header {
    min-height: 50px;
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px 0;
    background-color: #17252c;
    box-shadow: 1px 1px 10px black;
}

.header .hdup {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
}

.header .hdlw {
    display: block;
    text-align: center;
}

.header .logocont {
    justify-self: end;
    margin: 5px;
    margin-right: 80px;
    padding: 2px 10px 2px 10px;
}

.header .srchcont {
    justify-self: center;
    margin: 5px;
    margin-left: 60px;
    padding: 2px 10px 2px 10px;
}

.header .logincont {
    justify-self: start;
    margin: 5px;
    margin-left: 80px;
    padding: 2px 10px 2px 10px;
}

.header .logincont #a {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header .logincont #a:hover {
    background-color: rgba(126, 126, 126, 0.265);
}

.header .logincont #a:active {
    background-color: rgba(68, 68, 68, 0.447);
}

.header .logocont .logo {
    transition: 1s;
}

.header .logocont .logo:hover {
    rotate: 15deg;
}

.header .srchcont .srchbox {
    width: 40vh;
    height: 40px;
    border: none;
    border-radius: 100px;
    color: black;
    padding-left: 10px;
    font-size: 18px;
    text-shadow: none;
    outline: none;
}


.header .srchcont .srchbtn { 
    border: none;
    border-radius: 100px;
    box-shadow: 0;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transition: 0.3s;
    color: white;
}

.header .srchcont .srchbtn:hover {
    background-color: rgba(126, 126, 126, 0.265);
}

.header .srchcont .srchbtn:active {
    background-color: rgba(68, 68, 68, 0.447);
}

.header .navcont {
    margin: 10px 0 5px 0;
    padding: 2px 10px 2px 10px;
}

.header .navcont .nav #a{
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.header .navcont .nav #a:hover{
    background-color: rgba(126, 126, 126, 0.265);
    color: white;
}

.header .navcont .nav #a:active {
    background-color: rgba(68, 68, 68, 0.447);
}

.header .navcont .nav .dl{
    font-size: 30px;
    font-family: Courier New, monospace;
    text-decoration: none;
    color: orange;
}

.header .navcont .nav .dl:hover{
    cursor: default;
}

/* main */
.main {
    margin: 100px 200px;
    text-align: justify;
}

.main .welcont {
    margin-bottom: 100px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 8px black;
    color: white;
    border-radius: 100px;
    transition: 0.5s;
}

.main .welcont:hover{
    background-color: #17252c;
}

.main .welcont .anand {
    font-size: 90px;
}

.main .welcont .welp{
    padding: 10px;
    font-size: 25px;
    color: white;
}

.main .cardcont {
    display: grid;
    grid-template-columns: auto auto auto;
}

.main .cardcont .artcont {
    display: inline;
    overflow: hidden;
    margin: 20px;
    background-color: #17252c;
    border-radius: 20px;
    box-shadow: 1px 1px 8px black;
    transition: 0.5s;
}

.main .cardcont .artcont .a .artimg {
    width: 100%;
}

.main .cardcont .artcont .a .artimg:hover {
    opacity: 0.7;
} 

.main .cardcont h4.artint {
    padding: 20px 30px 10px;
    color: white;
}

.main .cardcont p.artint {
    padding: 10px 30px 40px;
    color: white;
    opacity: 0.4;
}

.main .cardcont .artint .a{
    color: white;
    text-decoration: none;
}

/* footer */
.footer {
    min-height: 50px;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #17252c;
    box-shadow: 1px 1px 15px black;
}

.footer .logocont{
    display: grid;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.footer .logocont .logo{
    padding: 5px;
}

.footer .refcont {
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.footer .refcont .refh3 {
    font-size: 25px;
    padding: 10px;
    color: white;
}

.footer .refcont .refcls{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
}

.footer .refcont .refcls .refh4 {
    padding: 5px;
    font-size: 16px;
    color: white;
}

.footer .refcont .refcls .refits{
    padding: 5px;
    list-style-type: none;
}

.footer .refcont .refcls .refits .refli{
    padding: 1px 0;
    font-size: 16;
    color: white;
    opacity: 0.4;
}

.footer .refcont .refcls .refits .refa{
    text-decoration: none;
    color: white;
    transition: 0.5s;
} 

.footer .refcont .refcls .refits .refa:hover {
    text-decoration: underline;

} 

.footer .cpycont .cpy {
    padding: 20px;
    margin: 0 50px 0 50px;
    color: white;
}


.footer {
    min-height: 50px;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #17252c;
    box-shadow: 1px 1px 15px black;
}

.footer .logocont{
    display: grid;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.footer .logocont .logo{
    padding: 5px;
}

.footer .refcont {
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
    margin: 0 50px 0 50px;
}

.footer .refcont .refh3 {
    font-size: 25px;
    padding: 10px;
    color: white;
}

.footer .refcont .refcls{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    padding: 10px;
}

.footer .refcont .refcls .refh4 {
    padding: 5px;
    font-size: 16px;
    color: white;
}

.footer .refcont .refcls .refits{
    padding: 5px;
    list-style-type: none;
}

.footer .refcont .refcls .refits .refli{
    padding: 1px 0;
    font-size: 16;
    color: white;
    opacity: 0.4;
}

.footer .refcont .refcls .refits .refa{
    text-decoration: none;
    color: white;
    transition: 0.5s;
} 

.footer .refcont .refcls .refits .refa:hover {
    text-decoration: underline;

} 

.footer .cpycont .cpy {
    padding: 20px;
    margin: 0 50px 0 50px;
    color: white;
}